{% extends 'base.html' %}
{% load static %}

{% block content %}

<header>
    <h2>Celutamax Motors and Brokers</h2>
</header>

<section class="hero" style="background-image: url('{% static 'images/mercedes.jpg' %}');">

<div class="hero-text">
<h1>Premium Vehicles. Trusted Service.</h1>

<p>Your reliable partner in quality brand new, used and imported cars.</p>

<a href="{% url 'vehicles' %}" class="btn">Browse Vehicles</a>

</div>

</section>


<section class="featured">

<h2>Featured Vehicles</h2>

<div class="car-grid">

<div class="car-card">
<img src="{% static 'images/forester.jpg' %}" alt="Forester">
<p>Forester</p>
</div>

<div class="car-card">
<img src="{% static 'images/harrier.jpg' %}" alt="Harrier">
<p>Harrier</p>
</div>

<div class="car-card">
<img src="{% static 'images/noah.jpg' %}" alt="Noah">
<p>Noah</p>
</div>

<div class="car-card">
<img src="{% static 'images/mazda.jpg' %}" alt="Mazda">
<p>Mazda</p>
</div>

</div>

</section>

{% endblock %}