
{% extends 'base.html' %}
{% load static %}

{% block content %}

<header>
    <h2>Celutamax Motors and Brokers</h2>
</header>
<section class="hero">

<img src="{% static 'images/mercedes.jpg' %}">

<div class="hero-text">
<h1>Premium Vehicles. Trusted Service.</h1>
<p>Your reliable partner in quality brandnew used and imported Cars.</p>

<a href="{% url 'vehicles' %}" class="btn">Browse Vehicles</a>

</div>

</section>


<section class="featured">

<h2>Featured Vehicles</h2>

<div class="car-grid">

<div class="car-card">
<img src="{% static 'images/forester.jpg' %}">
<p>Forester</p>
</div>

<div class="car-card">
<img src="{% static 'images/harrier.jpg' %}">
<p>Harrier</p>
</div>

<div class="car-card">
<img src="{% static 'images/noah.jpg' %}">
<p>Noah</p>
</div>

<div class="car-card">
<img src="{% static 'images/mazda.jpg' %}">
<p>Mazda</p>
</div>

</div>

</section>

{% endblock %}